* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	height: 100vh;
	width: 100vw;
	background-image: url('./images/back6.jpeg');
	background-repeat: repeat;
}


.logo {
	font-family: Akronim;
	font-size: 7.5vw;
	text-align: center;
	padding-top: 10px;
	color: rgb(109, 140, 41);
	text-shadow: 0 0 20px #000000;
}

.text-fire {
	/* font-size: 7.5vw;
	text-align: center;
	padding-top: 10px;
	color: rgb(109, 140, 41); 
	font-family: Akronim; */
	
	/* Тень в стиле огня */
	text-shadow: 0 0 5px #ffcc00, 0 0 10px #ff9900, 0 0 20px #ff6600,
		0 0 30px #ff3300, 0 0 40px #ff8400, 0 0 50px #ff7b00;
}
.board {
	display: flex;
	flex-wrap: wrap;
	width: 80vh;
	height: 80vh;
	margin: 0px auto;
		position: relative;

		z-index: 2;

}
.cards-container {
	width: 16%;
	height: 16%;
	margin: 2px;
	border: 3px solid rgb(94, 73, 3);
	border-radius: 10%;
}

.card,
.shirt {
	width: 100%;
	height: 100%;
	border-radius: 10%;
}

.hidden {
	display: none;
}
.timer {
	position: absolute;
	top: -5.5vw;
	left: 2vw;
	width: 33%;
}
.moves {
	position: absolute;
	top: -3vw;
	right: -2vw;
	width: 33%;
}

img {
	height: 100%;
	width: 100%;
}
.btn-anime {
	height: 10vw;
	position: absolute;
	left: 4vw;
	bottom: 2vw;
}

.btn-start {
	height: 10vw;
	position: absolute;
	right: 4vw;
	bottom: 2vw;
}
